.inp{
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    font-size: 12px;
    width: 100%;
    max-width: 400px;
    background: #11073B;
    border: 2px solid #7D47BF;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.7);
}
.inp:hover{
    box-shadow: -3px -3px 8px rgb(255 255 255 / 5%), 3px 3px 8px rgb(0 0 0 / 5%);
}
.inp:focus{
    color: #fff;
}