html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  background-color: #14171b;
  color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}
