.selectSuperPower{
    border: 2px solid #7D47BF;
    border-radius: 8px;
    border-radius: 8px;
    width: 48px;
    height: 24px;
    cursor: pointer;
}
.active{
    background: #7D47BF;
}

.selectWrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-between;
    margin-bottom: 20px;
}